<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/socialnetwork</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <mapping class="Models.City"/>
        <mapping class="Models.Comment"/>
        <mapping class="Models.Company"/>
        <mapping class="Models.Continent"/>
        <mapping class="Models.Country"/>
        <mapping class="Models.Forum"/>
        <mapping class="Models.ForumHasTag"/>
        <mapping class="test.CityEntity"/>
        <mapping class="test.CommentEntity"/>
        <mapping class="test.CompanyEntity"/>
        <mapping class="test.ContinentEntity"/>
        <mapping class="test.CountryEntity"/>
        <mapping class="test.ForumEntity"/>
        <mapping class="test.ForumHasTagEntity"/>
        <mapping class="test.PlaceEntity"/>
        <mapping class="test.OrganisationEntity"/>
        <mapping class="test.UniversityEntity"/>
        <mapping class="test.MessageEntity"/>
        <mapping class="test.PersonEntity"/>
        <mapping class="test.PersonEmailEntity"/>
        <mapping class="test.PersonSpeaksEntity"/>
    </session-factory>
</hibernate-configuration>